h1 {
  text-align: center;
  font-size: 85px;
}

h2 {
  text-align: center;
  font-size: 60px;
  color: green;
}

.square {
  border: 5px solid black;
  display: block;
  float: left;
  width: 25%;
  height: 25%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  text-align: center;
  font-size: 70px;
}